//! In Bootstrap : always import functions before variables ... otherwise some features won't work
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";


//? add your colors to Bootstrap's map
$red:#CC1211;
$redBright:#f9e6e56b;
$pink: #F9E6E5;
$gray:#201F24;
$bright:#EEEEEE;

$custom-colors : (
    "red" : $red ,
    "gray" : $gray ,
    "bright": $bright,
    "redBright":$redBright,
    "pink":$pink,
);
$theme-colors : map-merge($theme-colors , $custom-colors);
