//* nav dropdown
.btnD {
    column-gap: var(--gap);
    cursor: pointer;
    border-radius: var(--radius);
    border: none;
    position: relative;
}
.myDropdown {
    position: absolute;
    width: 250px;
    background: white;
}
.myDropdown a {
    display: flex;
    align-items: center;
    column-gap: var(--gap);
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: black;
}
.myDropdown a:hover {
    background-color: var(--color);
    color: $red;
}
.myDropdown {
    position: absolute;
    width: 250px;
    border-radius: var(--radius);
    background: white;
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);

    transform: translateY(0.5rem);
    visibility: hidden;
    opacity: 0;
}
.show {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1;
}
.arrow {
    transform: rotate(180deg);
    transition: 0.2s ease;
}
//* nav links
.navlinks{
    font-weight: bold;
    opacity: 50%;
}
.navlinks:hover{
    border-bottom: 2px solid $red;
    opacity: 100%;
    padding-bottom: 3px;
}
.logo{
    font-size: 30px;
    font-weight: bold;
}
.menuBurger{
    display: none;
}

//* Modal 
.dis-none {
    display: none;
  }
  .body-while-modalOpen {
    overflow: hidden;
    pointer-events: none;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .myModal {
    pointer-events: visible;
    position: absolute;
    left: 35%;
    top: 20%;
    z-index: 1;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 1px 5px 5px $pink;
  }
  
  .myModal-content {
    text-align: center;
    width: 400px;
    height: 80px;
  }
  .close,.login {
      float: right;
      font-size: 15px;
    }
    .close:hover,
    .close:focus {
    background-color: gray;
    cursor: pointer;
  }

//^ nav version tablet
@media ( min-width:768px ) and (max-width:1023px)  {
    .navlaptop{
        display: none;
    }
    .logo{
        font-size: 40px;
    }
    .connexion{
        font-size: 20px;
    }
    .menuBurger{
        display: block;
    }
    #logoBurger{
        position: relative;
        font-size:32px;
        top: 1px;
    }
    .linksBurger{
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.267);
        width: 12rem;
        padding-top: 15px;
        padding-bottom: 15px;
        display: none;
        position: absolute;
        z-index: 1;
        top: 80px;
        right:0px;
    }
    .navlinks{
        padding: 4px;
        padding-left: 12px;
        font-weight: bold;
        opacity: 50%;
    }
    .navlinks:hover{
        border-bottom: 2px solid $red;
        opacity: 100%;
        padding-bottom: 3px;
    }

}

//^ nav version mobile
@media ( min-width:375px ) and (max-width:425px){
    .navlaptop{
        display: none;
    }
    .logo{
        font-size: 32px;
    }
    .connexion{
        font-size: 16px;
    }
    .menuBurger{
        display: block;
    }
    #logoBurger{
        position: relative;
        font-size:23px;
        top: 0.5px;
    }
    .linksBurger{
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.267);
        width: 10rem;
        padding-top: 8px;
        padding-bottom: 8px;
        display: none;
        position: absolute;
        z-index: 1;
        top: 70px;
        right: 5px;
    }
    .navlinks{
        padding: 3px;
        padding-left: 7px;
        font-weight: bold;
        opacity: 50%;
    }
    .navlinks:hover{
        border-bottom: 2px solid $red;
        opacity: 100%;
        padding-bottom: 3px;
    }
}