//* nav dropdown

.btnD {
    column-gap: var(--gap);
    cursor: pointer;
    border-radius: var(--radius);
    border: none;
    position: relative;
}
.myDropdown {
    position: absolute;
    width: 250px;
    background: white;
}
.myDropdown a {
    display: flex;
    align-items: center;
    column-gap: var(--gap);
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: black;
}
.myDropdown a:hover {
    background-color: var(--color);
    color: $red;
}
.myDropdown {
    position: absolute;
    width: 250px;
    border-radius: var(--radius);
    background: white;
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);

    transform: translateY(0.5rem);
    visibility: hidden;
    opacity: 0;
}
.show {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1;
}
.arrow {
    transform: rotate(180deg);
    transition: 0.2s ease;
}

//* nav links
.navlinks{
    font-weight: bold;
    opacity: 50%;
}
.navlinks:hover{
    border-bottom: 2px solid $red;
    opacity: 100%;
    padding-bottom: 3px;
}
.logo{
    font-size: 30px;
    font-weight: bold;
}
.menuBurger{
    display: none;
}
//* nav version tablet
@media ( min-width:768px ) and (max-width:1023px)  {
    .navlaptop{
        display: none;
    }
    .logo{
        font-size: 40px;
    }
    .connexion{
        font-size: 20px;
    }
    .menuBurger{
        display: block;
    }
    #logoBurger{
        position: fixed;
        font-size:30px;
        top: 25px;
    }
    .linksBurger{
        width: 10rem;
        display: none;
        position: fixed;
        top: 80px;
        right:0px;
    }
    .navlinks{
        padding-left: 12px;
        font-weight: bold;
        opacity: 50%;
    }
    .navlinks:hover{
        border-bottom: 2px solid $red;
        opacity: 100%;
        padding-bottom: 3px;
    }

}

//* nav version mobile
@media ( min-width:375px ) and (max-width:425px)  {
    .navlaptop{
        display: none;
    }
    .logo{
        font-size: 32px;
    }
    .connexion{
        font-size: 16px;
    }
    .menuBurger{
        display: block;
    }
    #logoBurger{
        position: fixed;
        font-size:22px;
        top: 23px;
    }
    .linksBurger{
        width: 7rem;
        display: none;
        position: fixed;
        top: 70px;
        right: 5px;
    }
    .navlinks{
        padding-left: 7px;
        font-weight: bold;
        opacity: 50%;
    }
    .navlinks:hover{
        border-bottom: 2px solid $red;
        opacity: 100%;
        padding-bottom: 3px;
    }
}