//todo section 1 : Hero --------------------------------------------------------------------------------
*{
    margin: 0;
}
.hero{
    #heroImg{
        width: 25rem;
    }
    height: 29rem;
    h1{
        font-family: "amaticBold";
        font-size: 60px;
    }
    p{
        font-size: 13px;
        opacity: 50%;
        line-height: 3px;
    }
}
//^ hero version tablet
@media ( min-width:768px ) and (max-width:1023px)  {
    .hero{
        height: 74rem;
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        #heroImg{
            width: 40rem;
        }
        h1,p{
            text-align: center;
        }
        p{
            font-size: 20px;
            line-height: 7px;
        }
    }
}
//^ hero version mobile
@media ( min-width:375px ) and (max-width:425px){
    .hero{
        height: 57rem;
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        #heroImg{
            width: 25rem;
        }
        h1,p{
            text-align: center;
        }
        p{
            margin: 0;
            font-size: 20px;
            line-height: 23px;
        }
    }
}

// todo section 2 : ABOUT US ----------------------------------------------------------------->
.section-title{
    text-align: center;
    margin-top: 55px;
    p{
        opacity: 50%;
        font-weight: bold;
        font-size: 13px; 
    }
    h1{
        opacity: 85%;
        font-family: "amaticBold";
        line-height: 30px;
    }
}
.aboutUs{
    height: 25rem;
    margin: 65px;
    .about{
        position: relative;
        width: 60%;
        height: 39rem;
        overflow: hidden;     
        .whiteticket{
            position: absolute;
            text-align: center;
            bottom: 25px;
            left: 7%;
            z-index: 1;
            background-color: white;
            width: 85%;
        }
    }
    .about2{
        margin-left: 55px;
        width: 40%;
        height: 39rem;
        overflow: hidden;
        p,li{
            font-size: 14px;
        }

        img{
            width: 510px;
        }
    }


}